<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Directory - Unemployed Robots</title>
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>

  <body>
  <div class="links">
    <div class="">
      <a href="/users/employed">Employed Robots</a>
    </div>
    <div class="">
      <a href="/users/unemployed">Unemployed Robots</a>
    </div>
  </div>
  <div class="full-flex">
    {{#allUsers}}
    <a class="all-users" href="/users/{{id}}">
      <img src="{{avatar}}">
      <h2>{{name}}</h2>
      {{#job}}<h3>{{job}}, {{company}}</h3>{{/job}}
      {{^job}}<span class="available">Available for hire</span>{{/job}}
    </a>
    {{/allUsers}}
  </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
